---
- name: Prepare Axon backend host
  hosts: webserver
  become: yes
  vars:
    base_packages:
      - python3
      - python3-pip
      - python3-venv
      - git
      - build-essential

  tasks:
    - name: Update package cache (Debian/Yum)
      block:
        - name: Update apt cache
          ansible.builtin.apt:
            update_cache: yes
            cache_valid_time: 3600
          when: ansible_facts.os_family == 'Debian'

        - name: Update yum cache
          ansible.builtin.yum:
            update_cache: yes
          when: ansible_facts.os_family in ['RedHat', 'Amazon']

    - name: Install base packages using the system package module
      ansible.builtin.package:
        name: "{{ base_packages }}"
        state: present

    - name: Ensure project directories exist
      ansible.builtin.file:
        path: "/home/{{ ansible_user }}/axon"
        state: directory
        mode: "0755"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Allow Python venvs to create symlinks
      ansible.builtin.command: update-alternatives --install /usr/bin/python python /usr/bin/python3 10
      changed_when: false
      when: ansible_facts.os_family == "Debian"

