[Unit]
Description=Axon Gunicorn Application
After=network.target

[Service]
Type=simple
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ backend_path }}
Environment="DJANGO_SETTINGS_MODULE=backend.settings"
ExecStart={{ venv_path }}/bin/gunicorn backend.wsgi:application \
  --bind {{ gunicorn_bind }} \
  --workers {{ gunicorn_workers }} \
  --timeout {{ gunicorn_timeout }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
