define host {
    use                     linux-server
    host_name               {{ axon_backend_host }}
    alias                   Axon Backend Server
    address                 {{ axon_backend_address }}
    check_command           check_tcp!{{ axon_backend_port }}
    max_check_attempts      3
    check_interval          1
    retry_interval          1
    notification_interval   30
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     Gunicorn TCP Port
    check_command           check_tcp!{{ axon_backend_port }}
    check_interval          1
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     Gunicorn HTTP Health
    check_command           check_http!-H {{ axon_backend_address }} -p {{ axon_backend_port }} -u {{ axon_backend_health_endpoint }} -w 5 -c 10
    check_interval          1
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     HTTP Response Time
    check_command           check_http!-H {{ axon_backend_address }} -p {{ axon_backend_port }} -u {{ axon_backend_health_endpoint }} -w 2 -c 5
    check_interval          2
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     API Chat Endpoint
    check_command           check_http!-H {{ axon_backend_address }} -p {{ axon_backend_port }} -u /api/chat/ -e "HTTP/1.1 405" -w 5 -c 10
    check_interval          5
    retry_interval          2
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     API Auth Endpoint
    check_command           check_http!-H {{ axon_backend_address }} -p {{ axon_backend_port }} -u /api/auth/me/ -w 5 -c 10
    check_interval          5
    retry_interval          2
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     Disk Space
    check_command           check_by_ssh!-H {{ axon_backend_address }} -l ubuntu -C "usage=\$(df -h / | tail -1 | awk '{print \$5}' | sed 's/%//'); echo \"Disk usage: \${usage}%\"; if [ \$usage -gt 90 ]; then exit 2; elif [ \$usage -gt 80 ]; then exit 1; else exit 0; fi"
    check_interval          5
    retry_interval          2
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     Memory Usage
    check_command           check_by_ssh!-H {{ axon_backend_address }} -l ubuntu -C "used=\$(free | grep Mem | awk '{print \$3}'); total=\$(free | grep Mem | awk '{print \$2}'); pct=\$(echo \"scale=1; \$used * 100 / \$total\" | bc); echo \"Memory usage: \${pct}%\"; if (( \$(echo \"\$pct > 90\" | bc -l) )); then exit 2; elif (( \$(echo \"\$pct > 80\" | bc -l) )); then exit 1; else exit 0; fi"
    check_interval          2
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     CPU Load
    check_command           check_by_ssh!-H {{ axon_backend_address }} -l ubuntu -C "load=\$(uptime | awk -F'load average:' '{print \$2}' | awk '{print \$1}' | sed 's/,//'); echo \"Load average: \$load\"; if (( \$(echo \"\$load > 4\" | bc -l) )); then exit 2; elif (( \$(echo \"\$load > 2\" | bc -l) )); then exit 1; else exit 0; fi"
    check_interval          2
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     Gunicorn Process
    check_command           check_by_ssh!-H {{ axon_backend_address }} -l ubuntu -C "count=\$(pgrep -f gunicorn | wc -l); if [ \$count -eq 0 ]; then echo \"No Gunicorn processes\"; exit 2; elif [ \$count -lt 2 ]; then echo \"Only \$count Gunicorn process\"; exit 1; else echo \"Gunicorn processes: \$count\"; exit 0; fi"
    check_interval          1
    retry_interval          1
}

define service {
    use                     generic-service
    host_name               {{ axon_backend_host }}
    service_description     SQLite Database
    check_command           check_by_ssh!-H {{ axon_backend_address }} -l ubuntu -C "if [ -f /home/ubuntu/axon/backend/db.sqlite3 ]; then size=\$(du -h /home/ubuntu/axon/backend/db.sqlite3 | cut -f1); echo \"Database exists: \$size\"; exit 0; else echo \"Database file missing\"; exit 2; fi"
    check_interval          5
    retry_interval          2
}

